body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gif-container{
  display: inline-block;
  margin: .25em;
}
.gif-container:first-child{
  margin-left: .45em;
}

.gif-container:last-child {
  margin-right: .45em;
}
.gif-container img{
  width: 256px;
  height: 128px;
}

.flex-container {
  overflow-y: hidden;
  white-space: nowrap;
}

